srchybrid/.vs/
srchybrid/Debug/
srchybrid/Release/
srchybrid/Win32/
srchybrid/x64/
srchybrid/tests/Debug/
srchybrid/tests/Release/
srchybrid/tests/Win32/
srchybrid/tests/x64/
TestResults/
*.trx
srchybrid/emule.vcxproj.user
